.root {
  background-color: rgb(0, 0, 0);
}
.body {
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.left {
  width: 50%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  top: 60px;
}
.right {
  width: 50%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 30px;
  margin-top: 100px;
  margin-left: 100px;
  padding-left: 0px;
}
.headerCont {
  color: white;
  text-align: end;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}
.ptag {
  color: white;
  text-align: end;
  font-size: 20px;
  font-weight: 400;
}
.name {
  width: 500px;
  height: 30px;
}
.email {
  height: 30px;
  width: 500px;
}
.message {
  width: 500px;
  height: 300px;
}
.sendBtn {
  width: 100px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  color: white;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.sendBtn:hover {
  width: 100px;
  height: 40px;

  background-color: white;
  border: 2px solid white;
  color: black;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}



.icons {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 50px;

  position: relative;
  top: 25px;
}
.connect {
  color: white;
  font-size: 35px;
  position: relative;
  top: 20px;
}
.githubic {
  color: white;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.fbic {
  color: white;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.igic {
  color: white;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.linic {
  color: white;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.githubic:hover {
  transform: scale(1.2);
}

.fbic:hover {
  transform: scale(1.2);
}
.igic:hover {
  transform: scale(1.2);
}
.linic:hover {
  transform: scale(1.2);
}
