.root {
  background-color: #141414;
}

.body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  
}

.left {
  width: 50%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 150px 0 0 0;
  padding-right: 40px;
  height: auto;
}

.right {
  width: 50%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
  margin-left: 100px;
  padding-left: 40px;
  margin: 150px 0 0 0;
  height: auto;
}

.headerCont {
  color: white;
  text-align: end;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}

.ptag {
  color: white;
  text-align: end;
  font-size: 20px;
  font-weight: 400;
}

.name {
  width: 500px;
  height: 30px;
  margin-top: 40px;
  padding: 10px;
}

.email {
  height: 30px;
  width: 500px;
  padding: 10px;
}

.message {
  width: 500px;
  height: 300px;
  resize: none;
  padding: 10px;
}

.sendBtn {
  width: 100px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  color: white;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.sendBtn:hover {
  width: 100px;
  height: 40px;
  background-color: white;
  border: 2px solid white;
  color: black;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.icons {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 50px;
  position: relative;
  top: 25px;
}

.connect {
  color: white;
  font-size: 35px;
  position: relative;
  top: 20px;
}

.githubic,
.fbic,
.igic,
.linic {
  color: white;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.githubic:hover,
.fbic:hover,
.igic:hover,
.linic:hover {
  transform: scale(1.2);
}

.toastContainer {
  background-color: black;
}

.toast {
  border: 1px solid white;
  background-color: black;
}

.toastBody {
  color: white;
}

/* Responsive Styles */

@media (max-width: 1200px) {
  /* For screens smaller than 768px */
  .body {
    flex-direction: column;
    height: 100vh;
  }

  .left,
  .right {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
    align-items: center;
    
  }

  .left {
    top: 0;
    margin-top: 100px
  }

  .headerCont {
    align-items: center;
    text-align: center;
    font-size: 35px;
  }

  .ptag {
    margin-bottom: 20px;
    text-align: center;
  }

  .name,
  .email,
  .message {
    width: 100%;
  }

  .icons {
    justify-content: center;
    top: 0;
  }

  .connect {
    text-align: center;
    font-size: 25px;
    top: 0;
  }
  .right{
    padding: 0 100px 0 100px;
  }
}




@media (max-width: 600px) {
  /* For screens smaller than 768px */
  .body {
    flex-direction: column;
    height: auto;
  }

  .left,
  .right {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
    align-items: center;
    
  }

  .left {
    top: 0;
    margin-top: 100px
  }

  .headerCont {
    align-items: center;
    text-align: center;
    font-size: 35px;
  }


  .ptag {
    margin-bottom: 20px;
    text-align: center;
  }

  .name,
  .email,
  .message {
    width: 100%;
  }

  .icons {
    justify-content: center;
    top: 0;
  }

  .connect {
    text-align: center;
    font-size: 25px;
    top: 0;
  }
}

